vim/backups
vim/backups/*
.session.vim
vim/.netrwhist
Sublime\ Text/Installed\ Packages/
Sublime\ Text/Packages/
Sublime\ Text/Pristine\ Packages/
vim/autoload/
vim/plugged/
vim/vim
z/*
config/nvim/.netrwhist
